<h1>Le dashboard ! </h1>
<a (click)="logout()">Me déconnecter</a>



<div class="row">

<ng-container *ngIf="!loader">
  <div class="card">
    <div class="card-body">
      <h1>Nombre de commandes passées : {{ stat.nbCommandes }}</h1>

    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h1>Nombre de nouveaux clients : {{ stat.nombreNouveauxClients }}</h1>

    </div>
  </div>


  <div class="card">
    <div class="card-body">
      <h1>Chiffre d'affaire : {{ stat.chiffreAffaire }}</h1>

    </div>
  </div>
</ng-container>

  <ng-container *ngIf="loader">
    <h1>Chargement des stats en cours !</h1>
  </ng-container>


  <div class="chart-wrapper">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
           >
    </canvas>
  </div>


  <div style="display: block;">
    <canvas baseChart
            [datasets]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [type]="doughnutChartType">
    </canvas>
  </div>



</div>
